<!-- my_listings.html -->
<!DOCTYPE html>
<html>
<head>
    <title>My listings</title>
</head>
<body>
    <h2>My listings</h2>
    <ul>
        {% for listing in listings %}
            <li>
                <h3>{{ listing.title }}</h3>
                <p>Price: {{ listing.price }}</p>
                <p>Location: {{ listing.location }}</p>
                <p>{{ listing.description }}</p>
                {% if listing.photo_main %}
                    <img src="{{ listing.photo_main.url }}" alt="Image of {{ listing.title }}">
                {% endif %}
                <p>
                    <a href="{% url 'listing_edit' listing.pk %}">Edit</a> |
                    <a href="{% url 'delete' listing.pk %}">Delete</a>
                </p>
            </li>
        {% empty %}
            <li>No listings available</li>
        {% endfor %}
    </ul>
    <a href="{% url 'index' %}">All listings</a> |
    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>
