<!-- base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Real Estate</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'hello' %}">Main Page</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'my_listings' %}">My listings</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'sign_up' %}">Sign up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
